@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

.container{
  width: 100vw;
  height: 100vh;
}

.container-navbar{
  width: 100%;
  height: 85px;
}

.container-body{
  width: 100%;
  height: calc(100% - 85px) !important;
}

.sidebar{
  height: 100%;
  width: 20%;
}
.content{
  background-color: #34495E;
  height: 100%;
  width: 80%;
  display:flex;
  flex-direction: column;
}

.container-title{
  width:90%;
  border-bottom: 2px solid white;
  display: flex;
  align-self: center;
  align-items: center;
}

.container-title h1{
  color:white;
  margin-top:25px;
  font-size:25pt;
}

.container-form{
  display:flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

form{
  width: 80%;
  height: 95%;
  display:flex;
  flex-direction: column;
  justify-content: space-around ;
}

.mtRow{
  margin-top:25px;
}

.button-delete{
  background-color: #E11839;
  color: white;
  padding: 5px 30px;
  border-radius: 2px;
  border: 1px solid transparent;
  font-size: 15pt;
  cursor:pointer;
}

.button-include{
    background-color: #2bcc6d;
    color: white;
    padding: 5px 30px;
    border-radius: 2px;
    border: 1px solid transparent;
    font-size: 15pt;
    cursor:pointer;
}

button:hover{
  opacity: 0.6;
  transition:0.3s;
}


.form-bottom{
  width: 100%;
  display: flex;
  justify-content: space-between;
}