.provider_container{
  background-color: #34495E;
  width: 100%;
  border: none;


  &__title{
    display: flex;
    justify-content: center;
    font-size: 16pt;
    color: #fff !important;
    border: none;
      
  }
}

.provider-form{

  &__input{
    width: 100%;
    flex-direction: row;
    font-size: 10pt;
    color: white;
    padding: 1.8rem;
  }

  &__button{
    
     padding: 0 .8rem .8rem 0.8rem;
     font-weight: bold !important;
     
    
    &__search{
      background-color: #40A9FF !important;
      color: white !important;
      border-color: #40A9FF !important;
     }
     &__search:hover{
      background-color: #40A9FF !important;
      color: white !important;
      border-color: #40A9FF !important;
     }
    &__delete{
      background-color: red !important;
      color: white !important;
      border-color: red !important;
    }

    &__include{
      background-color:#F0D032!important;
      border-color:#F0D032 !important;
      color: white !important;
    }

    &__include:hover{
      background-color:#F0D032!important;
      border-color:#F0D032 !important;
    }

    


  }
}
.ant-select, .ant-select-single, .ant-select-show-arrow{
  margin-top: 20px !important;
}