@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
.provider-container{
  width: 100%;
  max-width: 1120px;
  margin: 100px auto;
  background-color: #34495E;
  padding: 96px;

  &__title{
    color: white;
    font-weight: bold;
  }
  
  
}
  
.provider-form{
    font: 400 14px Poppins, sans-serif;
    width: 100%;
    max-width: 450px;
    margin-left: 100px;
    &__input{
      display: flex;
      padding: 10px 0 0 0;
      width: 100%;
      justify-content: space-between;
    }
  

  &__button{
    display: flex;
    justify-content: space-around;
    align-items: center;
    justify-self: center;
    width: 100%;
    margin-left: 150px;
    padding: 30px;

    &__search{
      background-color: #2B91CC !important;
      border-color: #2B91CC !important;
      color: white !important;
    }
    &__include{
      background-color: #DCBD09!important;
      border-color: #DCBD09 !important;
      color: white !important;
      padding: 4px 15px;
      border-radius: 2px;
      touch-action: manipulation;
      border: 1px solid transparent;
    }
    &__delete{
      background-color: #E11839!important;
      border-color: #E11839 !important;
      color: white !important;
    }
     &__save{
      background-color: #2BCC6D!important;
      border-color: #2BCC6D !important;
      color: white !important;
    }
  }
}






label{
  font-size: 14pt;
  color: white
}