@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');


*{
  padding: 0;
  margin: 0;
  outline: 0;
  box-sizing: border-box;
}

body{
  font: 400 14px Poppins, sans-serif;
  background-color: #34495E;
  overflow:hidden;
}
